<% provide(:title, ' | Index') %>
<div class="main posts-index">
  <div class="container">
    <h2>index</h2>
    <p>Parts quick descriptions :)</p>
    <div class="posts-index-item">
      <%= render "shared/nav"%>
    </div>
  </div>
</div>
