<div class="main posts-index">
  <div class="container">
    <h2>Part2</h2>
    <p> Built-in classes and modules :)</p>
    <%cnt=7%>
    <% @chapters2.each do |chapter|%>
      <div class="posts-index-item">
        <%= link_to("chapter#{cnt.to_s}: #{chapter.name}","/chapters/p2/c#{cnt.to_i}")%>
        <%cnt+= 1%>
      </div>
    <% end%>
    <%= render "shared/form"%>
  </div>
</div>