<div class="main posts-index">
  <div class="container">
    <h2>Part3</h2>
    <p>Ruby dynamics :)</p>
    <%cnt=13%>
    <% @chapters3.each do |chapter|%>
      <div class="posts-index-item">
        <%= link_to("chapter#{cnt.to_s}: #{chapter.name}","/chapters/p3/c#{cnt.to_i}")%>
        <%cnt+= 1%>
      </div>
    <% end%>
    <%= render "shared/form"%>
  </div>
</div>