<div class="main posts-index">
  <div class="container">
    <h2>Part5</h2>
    <p>Ruby dynamics :)</p>
    <%cnt=22%>
    <% @chapters6.each do |chapter|%>
      <div class="posts-index-item">
        <%= link_to("chapter#{cnt.to_s}: #{chapter.name}","/chapters/p6/c#{cnt.to_i}")%>
        <%cnt+= 1%>
      </div>
    <% end%>
    <%= render "shared/form"%>
  </div>
</div>
