<div class="main posts-index">
  <div class="container">
    <h2>Partial</h2>
    <p>Practice for using partial :)</p>
    <div class="posts-index-item">
      <%= render "shared/nav"%>
    </div>
  </div>
</div>
<%#Here's the administrator:%>
<%#= render partial: "person", layout: "administrator", locals: { person: administrator } %>
<%#Here's the editor:%>
<%#= render partial: "person", layout: "editor", locals: { person: editor } %>