<div class="form">
  <p></p>
  <div class="form-body">
    <%= form_for @content, :url => {:action => "update", :controller=>"contents"} do |f| %>
      <p>type</p>
      <%= f.select(:content_type, ContentType.all.map{|t|t.name}, 
      { include_blank: 'please select'}, 
      { :class => 'choose_the_content_type' }) %>
      <p>text</p>
      <%= f.text_area :line%>
      <%#= link_to("Finished","/parts/index")%>
      <%= f.submit%>
    <%end%>
  </div>
</div>
