<div class="posts-index-item">
  <li>
    <%= link_to("Part1","/parts/p1")%><em>   Ruby fundations</em>
  </li>
</div>
<div class="posts-index-item">
  <li>
    <%= link_to("Part2","/parts/p2")%><em>   Built-in classes and modules</em>
  </li>
</div>
<div class="posts-index-item">
  <li>
    <%= link_to("Part3","/parts/p3")%><em>   Ruby dynamics</em>
  </li>
</div>
<div class="posts-index-item">
  <li>
    <%= link_to("People","/people/index")%><em> Practice about partial</em>
  </li>
</div>