<div class="form">
  <p></p>
  <div class="form-body">
    <%= form_for @box, :url => {:action => "create", :controller=>"boxes"} do |f| %>
      <p>title</p>
      <%= f.text_field :title%>
      <p>page_id</p>
      <%= f.text_field :page_id%>
      <%= f.submit%>
    <%end%>
  </div>
</div>