<div class="main meals-show">
  <div class="container">
    <h2>Chapter1</h2>
    <p>(Page3)</p>
    <h1>Example from a terminal</h1>
    <div class="posts-show-item">
      <img class="about-img" src="/com1.png">
      <img class="about-img" src="/com2.png">
    </div>
  </div>
</div>