<div class="main meals-show">
  <div class="container">
    <h2>!!!OTHER!!!</h2>
    <p>(Page88)</p>
    <h1>Other: </h1>
    <%@boxes= Box.where(page_id: 88)%>
    <% @boxes.each do |box|%>
      <div class="posts-show-item">
        <%= render partial: 'shared/box', :locals => {:bid => box.id}%>
      </div>
      <%=@str%>
    <% end%>
  </div>
</div>