<div class="main meals-show">
  <div class="container">
    <h2>Part1</h2>
    <p>Chapter5 :)</p>
    <div class="posts-show-item">
      <%= "posts-show-item" %>
      <%= "posts-show-item" %>
      <div class="post-menus">
        <p>ppp :)</p>
        <p>ppp :)</p>
        <%= "post-menus" %>
        <%= "post-menus" %>
      </div>
    </div>
  </div>
</div>